<a href="https://colab.research.google.com/github/cornell21/python/blob/main/10%EC%A3%BC%EC%B0%A8_%EC%88%99%EC%A0%9C_%ED%81%B4%EB%9E%98%EC%8A%A4_%EB%B0%95%EC%84%B8%EB%AF%BC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
result = 0
def adder(num):
  global result
  result += num
  return result
print(adder(3))
print(adder(4))

3
7

In [5]:
print(adder(5))

12

In [6]:
result1 = 0
result2 = 0

def adder1(num):
  global result1
  result1 += num
  return result1

def adder2(num):
  global result2
  result2 += num
  return result2

print(adder1(3))
print(adder1(4))
print(adder2(3))
print(adder2(7))

3
7
3
10

In [8]:
class Calculator:
  def __init__(self):
    self.result = 0

  def adder(self, num):
    self.result += num
    return self.result


cal1 = Calculator()
cal2 = Calculator()

print(cal1.adder(3))
print(cal1.adder(4))
print(cal2.adder(3))
print(cal2.adder(7))

3
7
3
10

In [9]:
class Service :
  secret = "지구는 4006년에 멸망한다"

an = Service()

an.secret

'지구는 4006년에 멸망한다'

In [10]:
Service.secret

'지구는 4006년에 멸망한다'

In [11]:
Service.secret = '지구가 4006년에 멸망한다는 사실은 뻥이다'

In [12]:
print(an.secret)

지구가 4006년에 멸망한다는 사실은 뻥이다

In [13]:
class Service :
  secret = "지구는 4006년에 멸망한다"
  def sum(self, a, b):
    result = a+b
    print("%s + %s = %s이다." % (a, b, result))

an = Service()

an.sum(1,1)

1 + 1 = 2이다.

In [15]:
class Service :
  secret = "지구는 4006년에 멸망한다"
  def setname(self, name):
    self.name = name
  def sum(self, a, b):
    result = a+b
    print("%s님, %s + %s = %s입니다." % (self.name, a, b, result))

an = Service()
an.setname("박달도사")
an.sum(1,1)

박달도사님, 1 + 1 = 2입니다.

In [16]:
kim = Service()
park = Service()
kim.name = "김 정 보"
park.name = "박 융 합"

In [17]:
print(kim.name)

김 정 보

In [18]:
print(park.name)

박 융 합

In [19]:
kim.secret = "비밀은 없다"

In [20]:
print(park.secret)

지구는 4006년에 멸망한다

In [21]:
print(kim.secret)

비밀은 없다

In [22]:
Service.secret

'지구는 4006년에 멸망한다'

In [23]:
lee = Service()
lee.sum(1,1)

AttributeError: 'Service' object has no attribute 'name'

In [25]:
class Service :
  secret = "지구는 4006년에 멸망한다"
  def __init__(self, name):
    self.name = name
  def sum(self, a, b):
    result = a+b
    print("%s님, %s + %s = %s입니다." % (self.name, a, b, result))

an = Service("박달도사")
an.sum(1,1)

박달도사님, 1 + 1 = 2입니다.

In [26]:
class FourCal :
  pass

a = FourCal()
type(a)

__main__.FourCal

In [27]:
class FourCal :
  def setdata(self, first, second):
    self.first = first
    self.second = second

a = FourCal()
a.setdata(4,2)

print(a.first)
print(a.second)

4
2

In [28]:
class FourCal :
  def setdata(self, first, second):
    self.first = first
    self.second = second
  def sum(self):
    result = self.first + self.second
    return result

a = FourCal()
a.setdata(4,2)

print(a.sum())

6

In [36]:
class FourCal :
  def setdata(self, first, second):
    self.first = first
    self.second = second
  def sum(self):
    result = self.first + self.second
    return result
  def mul(self):
    result = self.first * self.second
    return result
  def sub(self):
    result = self.first - self.second
    return result
  def div(self):
    result = self.first / self.second
    return result

a = FourCal()
b = FourCal()
a.setdata(4,2)
b.setdata(3,7)

In [31]:
a.sum()

6

In [32]:
a.mul()

8

In [33]:
a.sub()

2

In [34]:
a.div()

2.0

In [35]:
b.sub()

-4

In [39]:
import random

player1_dice = []
player2_dice = []

for i in range(3):
  player1_dice.append(random.randint(1,6))
  player2_dice.append(random.randint(1,6))

print("Player 1 rolled" + str(player1_dice))
print("Player 2 rolled" + str(player1_dice))

if sum(player1_dice) == sum(player2_dice):
  print("Draw")
elif sum(player1_dice) > sum(player2_dice):
  print("Player 1 wins")
else :
  print("Player 2 wins")

Player 1 rolled[5, 4, 2]
Player 2 rolled[5, 4, 2]
Player 2 wins

In [40]:
from random import randint

class Player :
  def __init__(self):
    self.dice = []

  def roll(self):
    self.dice = []
    for i in range(3):
      self.dice.append(randint(1,6))

  def get_dice(self):
    return self.dice

player1 = Player()
player2 = Player()

player1.roll()
player2.roll()

print("Player 1 rolled" + str(player1.get_dice()))
print("Player 2 rolled" + str(player2.get_dice()))

if sum(player1.get_dice()) == sum(player2.get_dice()):
  print("Draw!")
elif sum(player1.get_dice()) > sum(player2.get_dice()):
  print("Player 1 wins!")
else :
  print("Player 2 wins!")

Player 1 rolled[5, 2, 2]
Player 2 rolled[6, 4, 5]
Player 2 wins!