<a href="https://colab.research.google.com/github/cornell21/python/blob/main/9%EC%A3%BC%EC%B0%A8_%EC%88%99%EC%A0%9C_%ED%95%A8%EC%88%98_%EB%B0%95%EC%84%B8%EB%AF%BC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
number_list = []
number_list.append(1)
number_list.append(2)
number_list.append(3)
number_list.append(4)
number_list.append(5)

In [13]:
number_list

[1, 2, 3, 4, 5]

In [2]:
number_list2 = []
for number in range(1,6):
  number_list2.append(number)

In [3]:
number_list2

[1, 2, 3, 4, 5]

In [4]:
number_list3 = list(range(1,6))

In [5]:
number_list3

[1, 2, 3, 4, 5]

In [6]:
number_list4 = [number for number in range(1,6)]

In [7]:
number_list4

[1, 2, 3, 4, 5]

In [9]:
number_list5 = [number-1 for number in range(1,6)]

In [10]:
number_list5

[0, 1, 2, 3, 4]

In [11]:
number_list6 = [number for number in range(1,6) if number % 2 ==1]

In [12]:
number_list6

[1, 3, 5]

In [13]:
a_list = []
for number in range(1,6):
  if number%2 ==1 :
    a_list.append(number)

In [14]:
a_list

[1, 3, 5]

In [15]:
sentence = ['I', 'Love', 'Python', 'Soooooo', 'MUCH!!!']
[word.lower() for word in sentence]
[word for word in sentence if len(word) > 6]
[(x, x**2, x**3) for x in range(10)]

[(0, 0, 0),
 (1, 1, 1),
 (2, 4, 8),
 (3, 9, 27),
 (4, 16, 64),
 (5, 25, 125),
 (6, 36, 216),
 (7, 49, 343),
 (8, 64, 512),
 (9, 81, 729)]

In [18]:
rows = range(1,4)
cols = range(1,3)
for row in rows :
  for col in cols :
    print(row, col)

1 1
1 2
2 1
2 2
3 1
3 2

In [20]:
rows = range(1,4)
cols = range(1,3)
cells = [(row, col) for row in rows for col in cols]
for cell in cells:
    print(cell)

(1, 1)
(1, 2)
(2, 1)
(2, 2)
(3, 1)
(3, 2)

In [21]:
word = 'letters'
letter_counts = {letter: word.count(letter) for letter in word}

In [22]:
letter_counts

{'l': 1, 'e': 2, 't': 2, 'r': 1, 's': 1}

In [23]:
word = 'letters'
letter_counts = {letter: word.count(letter) for letter in set(word)}

In [24]:
letter_counts

{'l': 1, 'r': 1, 'e': 2, 's': 1, 't': 2}

In [25]:
a_set = {number for number in range(1,6) if number %3 ==1}

In [26]:
a_set

{1, 4}

In [27]:
def function_name(param1, param2):
  value = do_something()
  return value

In [28]:
def sum(a,b):
  return a+b

In [29]:
sum(1,2)

3

In [30]:
sum(1.3, 3.1)

4.4

In [32]:
sum('love ', 'python')

'love python'

In [33]:
days = ['Monday', 'Tuesday', 'Wednesday']
fruits = ['banana', 'orange', 'peach']
drinks = ['coffee', 'tea', 'beer']
desserts = ['tiramisu', 'ice cream', 'pie', 'pudding']

for day, fruit, drink, dessert in zip(days, fruits, drinks, desserts):
  print(day, ":drink", drink, "-eat", fruit, "-enjoy", dessert)

Monday :drink coffee -eat banana -enjoy tiramisu
Tuesday :drink tea -eat orange -enjoy ice cream
Wednesday :drink beer -eat peach -enjoy pie

In [34]:
english = 'Monday', 'Tuesday', 'Wednesday'
french = 'Lundi', 'Mardi', 'Mercredi'

list(zip(english, french))

[('Monday', 'Lundi'), ('Tuesday', 'Mardi'), ('Wednesday', 'Mercredi')]

In [35]:
dict(zip(english, french))

{'Monday': 'Lundi', 'Tuesday': 'Mardi', 'Wednesday': 'Mercredi'}

In [36]:
def menu(wine, entree, dessert):
  return {'wine': wine, 'entree': entree, 'dessert': dessert}

In [37]:
menu(entree = 'beef', dessert = 'bagel', wine = 'bordeaux')

{'wine': 'bordeaux', 'entree': 'beef', 'dessert': 'bagel'}

In [38]:
menu('frontemnac', dessert = 'flan', entree = 'fish')

{'wine': 'frontemnac', 'entree': 'fish', 'dessert': 'flan'}

In [40]:
def menu(wine, entree, dessert = 'pudding'):
  return {'wine': wine, 'entree': entree, 'dessert': dessert}

In [41]:
menu('chardonnay','chicken')

{'wine': 'chardonnay', 'entree': 'chicken', 'dessert': 'pudding'}

In [42]:
menu('dunkelfelder', 'duck', 'doughnut')
{'dessert': 'doughnut', 'wine': 'dunkelfelder', 'entree': 'duck'}

{'dessert': 'doughnut', 'wine': 'dunkelfelder', 'entree': 'duck'}

In [43]:
def menu(price, wine = 'chardonnay', entree='chicken', dessert = 'pudding'):
  return {'price': price, 'wine': wine, 'entree': entree, 'dessert': dessert}

In [44]:
menu(100)

{'price': 100, 'wine': 'chardonnay', 'entree': 'chicken', 'dessert': 'pudding'}

In [45]:
menu(price = 100)

{'price': 100, 'wine': 'chardonnay', 'entree': 'chicken', 'dessert': 'pudding'}

In [46]:
menu(price = 120, entree = 'beef')

{'price': 120, 'wine': 'chardonnay', 'entree': 'beef', 'dessert': 'pudding'}

In [47]:
menu(dessert = 'bagel', price = 110)

{'price': 110, 'wine': 'chardonnay', 'entree': 'chicken', 'dessert': 'bagel'}

In [50]:
menu('eighty', 'saint-perre', 'fish')

{'price': 'eighty',
 'wine': 'saint-perre',
 'entree': 'fish',
 'dessert': 'pudding'}

In [51]:
menu('hundred', wine = 'saint-pierre')

{'price': 'hundred',
 'wine': 'saint-pierre',
 'entree': 'chicken',
 'dessert': 'pudding'}

In [52]:
def echo(anything):
  'echo returns its input argument'
  return anything

In [53]:
def print_if_true(thing, check):
  """
  Prints the firstargument if a second argument is true.
  The operation is:
    1. Check whether the *second* argument is true.
    2. If it is, print the *first* argument.
  """
  if check:
    printg(thing)

In [54]:
help(echo)

Help on function echo in module __main__:

echo(anything)
    echo returns its input argument

In [56]:
print(echo.__doc__)

echo returns its input argument